<div class="d-flex justify-content-between car-show-container">
  <div class="w-100">
    <div class="d-flex align-items-start justify-content-between">
      <div>
        <p class="description"> <%= @car.manufacturer %> </p> 
        <h1 class="m-0 page-title"> <%= @car.model %> </h1>
      </div>
      <%= image_tag @car.user.avatar, class:"avatar-large ms-5" %>
    </div>
    <ul>
      <li>
        <p class="body-text"><%= @car.description %></p>
      </li>
      <li>
        <p>Located in</p>
        <p><%= @car.address %></p>
      </li>
      <li>
        <p>Price:£<%= @car.price %></p>
      </li>
    </ul>
    <% unless @car.user_id == current_user.id %>
      <%= simple_form_for [@car, @booking], data: { controller: 'flatpickr' } do |f| %>
        <p> £ <%= @car.price %> / per day </p>
        <%= f.input :start_date, as: :string, required: false, input_html: { data: { flatpickr_target: "startDate" } }, class: "datepicker", id: "range_start", placeholder: ""  %>
        <%= f.input :end_date, as: :string, required: false, input_html: { data: { flatpickr_target: "endDate" } }, class: "datepicker", id: "range_start", placeholder: ""  %>
        <div>
          <%= f.button :submit, class: "", value: 'Reserve', class:'btn-main' %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= cl_image_tag @car.photos[0].key, crop: :fill, class: 'image-display d-block' %>
    <% unless @car.photos.count == 1 %>
      <div class="images-container d-flex mt-3">
        <% @car.photos.each_with_index do |photo, index| %>
          <% next if index == 0  %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:'image-scroll' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>







