<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbCars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= javascript_importmap_tags %>
    <script>
    /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="body-container">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
